# Create planets Dataframe

In [30]:
import pandas as pd
import os

In [31]:
planets = pd.read_csv("../data/raw_data/planets_ini.csv", index_col="planets_name")

In [32]:
planets

,a,e,i,capom,omega,M,mass,radio,period
planets_name,,,,,,,,,
Venus,0.723332,0.006773,3.39471,76.68069,131.53298,181.97973,4.867500e+24,6051.8,224701.00
Earth,1.000000,0.016710,0.00005,-11.26064,102.94719,100.46435,5.972300e+24,6378137.0,365256.00
Mars,1.523662,0.093412,1.85061,49.57854,336.04084,355.45332,6.417100e+23,3396.2,686.98
Jupiter,5.203363,0.048393,1.30530,100.55615,14.75385,34.40438,1.898190e+27,71492.0,4332589.00
Saturn,9.537070,0.054151,2.48446,113.71504,92.43194,49.94432,5.683400e+26,60268.0,10759.22
Uranus,19.191264,0.047168,0.76986,74.22988,170.96424,313.23218,8.681300e+25,25559.0,30685.40
Neptune,30.068963,0.008586,1.76917,131.72169,44.97135,304.88003,1.024130e+26,24764.0,60189.00

In [51]:
venus = planets.loc["Venus"]

In [65]:
novo_venus = pd.DataFrame(venus, columns=venus.index, index=)

NameError: name 'default' is not defined

In [64]:
novo_venus

Empty DataFrame
Columns: [a, e, i, capom, omega, M, mass, radio, period]
Index: []

In [68]:
novo_venus = venus.to_frame

In [70]:
novo_venus()

               Venus
a       7.233320e-01
e       6.773230e-03
i       3.394710e+00
capom   7.668069e+01
omega   1.315330e+02
M       1.819797e+02
mass    4.867500e+24
radio   6.051800e+03
period  2.247010e+05